@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

#div_img_quienesSomos {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to bottom, #ff000000, rgb(63, 62, 62)), url(./quinesSomos.jpg);
    background-position: 10% 45%;
    display: block;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
#img_text_quienesSomos {
    margin-top: 150px;
    font-size: 1.3rem;
    height: 500px;
    margin-left: 900px;
}

#titulo_inicio {
    font-size: 4rem;
    font-weight: bolder;
    margin-bottom: 25px;
}

.navbar {
    z-index: 2; 
    position: sticky;
    top: 0;
    background-color: white; 
}


.esp {
    width: 70;
    font-weight: normal;
    font-family: 'Overpass', sans-serif;
    color: rgb(93, 91, 91);
    padding: 30px;
    display: center;
    align-items: center;
    margin-left: 35px;
    color: black;
    font-weight: bold;
    
}

.cards{
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}

.card-title{
    font-family: 'Overpass', sans-serif;
    color: black;
    font-weight: bold;
    margin: 10px;
}
.card-text{
    font-family: 'Overpass', sans-serif;
    color: black;
    font-weight: bold;
}
.logoblanco{
    height: 35px;
}
.card-img-top{
    border-radius: 50%;
    height: 250px;
    width: 240px;
}